[submodule "cog/Progress_DiscordBot"]
	path = cog/Progress_DiscordBot
	url = https://github.com/keito0tada/Progress_DiscordBot.git
[submodule "cog/Weather_DiscordBot"]
	path = cog/Weather_DiscordBot
	url = https://github.com/keito0tada/Weather_DiscordBot.git
[submodule "cog/Essential_DiscordBot"]
	path = cog/Essential_DiscordBot
	url = https://github.com/keito0tada/Essential_DiscordBot.git
[submodule "cog/IdolQuizDiscordBot"]
	path = cog/IdolQuizDiscordBot
	url = https://github.com/keito0tada/IdolQuizDiscordBot.git
